# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

#Data
data/

TextPredictorApp/rsconnect/

ingestionPipeline/data/
ingestionPipeline/*_cache/
ingestionPipeline/*_files/

scripts/*.md
scripts/*.html
scripts/*_cache/
scripts/*_files/
scripts/rsconnect/
scripts/tmp/
scripts/model_*/
scripts/*Model/

reports/*.md
reports/*.html
reports/*_cache/
reports/*_files/
reports/rsconnect/
reports/datasetDumps/
.Rproj.user
